.DS_Store
.idea
.ipynb_checkpoints/
*.pyc
__pycache__
.pytest_cache
demo/
demo_old/
catboost_info/
./tests/
testlogs/
dask_logs/
OUTPUT/
OSA_OUTPUT/
OSA/
docs/build/
job_old.e
job.o
job.e
logs.log
Scratchpad.ipynb
UserData/
UserRepData/
UserOutput/
DemoOutput/
DemoOutputLocal/
multiplexer_dataset/
gametes_dataset/
run_configs/cedars_amd.cfg
data/AMD_Final/*
data/PLCO/*
run_configs/cedars_plco.cfg
