.DS_Store
.idea
.ipynb_checkpoints/
*.pyc
__pycache__
.pytest_cache
demo/
catboost_info/
dask_logs/
OSA/
OUTPUT/
docs/build/
job.o
job.e
logs.log
UserData/
UserRepData/
UserOutput/
DemoOutput/
DemoOutputLocal/
OSAData/
tests/
OSAData.zip
multiplexer_dataset/
gametes_dataset/
run_configs/cedars_amd.cfg
data/AMD_Final/*
data/PLCO/*
run_configs/cedars_plco.cfg
run_configs/cedars_gametes.cfg
exp_configs/
exp_data/