matplotlib
numpy
optuna
sqlalchemy<2.0
plotly>=4.0.0
pandas
pip
pycodestyle
scikit-learn
scipy
seaborn
skrebate
Sphinx
sphinx-rtd-theme
tqdm
wheel
pytest
xgboost
lightgbm
catboost
gplearn
ipython
fpdf
scikit-XCS
scikit-ExSTraCS
scikit-eLCS
