matplotlib
numpy
optuna==2.0.0
sqlalchemy<2.0
plotly>=4.0.0
pandas
pip
pycodestyle
scikit-learn
scipy
seaborn
skrebate==0.7
Sphinx
sphinx-rtd-theme
tqdm
wheel
pytest
xgboost
lightgbm
catboost
gplearn
ipython
fpdf